<!DOCTYPE html>

{% extends "template/base.html"%}
  {% block body_block %}
  <h1>Here is the information of the users:</h1>

  {% if list%}

  <ol>
    {% for person in list %}
    <li>User Info</li>
      <ul>
        <li>Name: {{person.name}}</li>
        <li>Age: {{person.age}}</li>
        <li>Email: {{person.email}}</li>
        <li>Occupation: {{person.occupation}}</li>
        <li>Place: {{person.place}}</li>
      </ul>
      {% endfor %}
  </ol>
  {% endif %}

  <a href="{% url 'MyApp:users' %}" class="btn btn-primary">Fill The Form</a>
  <a href="{% url 'index' %}" class="btn btn-primary">Go To Home</a>

  {% endblock %}
